/****** PLACE YOUR CUSTOM STYLES HERE ******/
#particles-js {
	background:#fff;
}

#particles-container {
	max-height:500px;
	padding: 0!important;
	margin-bottom:40px;
}

#header-link-name:hover, #header-link-name:active {
	color: #333;
}