---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#3ed2a7">
	
	<link rel="shortcut icon" href="./favicon.ico" />
	
	<title>Careers | H&W</title>
	
	<link rel="stylesheet" href="https://use.typekit.net/qxb8htk.css">
	
	<link rel="stylesheet" href="assets/vendors/liquid-icon/liquid-icon.min.css" />
	<link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="assets/css/theme-vendors.min.css" />
	<link rel="stylesheet" href="assets/css/theme.min.css" />
	<link rel="stylesheet" href="assets/css/themes/original.css" />
	
	<!-- Head Libs -->
	<script async src="/assets/vendors/modernizr.min.js"></script>
	
</head>
<body class="blog blog-single-default blog-scheme-dark" data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="modern" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">
	
	<div id="wrap">
		
		{% include nav-auto.html %}
	
		<main id="content" class="content py-0">
			
			<div class="blog-single-cover scheme-light" style="height:67vh !important;" data-fullheight="true" data-inview="true" data-inview-options='{ "onImagesLoaded": true }' style="background-color: #666871;">

				<figure class="blog-single-media" data-responsive-bg="true" data-parallax="true" data-parallax-options='{ "parallaxBG": true, "triggerHook": "onLeave" }' data-parallax-from='{ "translateY": "0%" }' data-parallax-to='{ "translateY": "20%" }'>
					<img src="./assets/img/careers.jpg" alt="Blog single">
				</figure>
				
				<div class="blog-single-details">
					
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								
								<header class="entry-header blog-single-header" data-parallax="true" data-parallax-to='{ "opacity": 0, "translateY": "30%" }' data-parallax-options='{ "triggerHook": "0.3" }'>
									<h1 class="blog-single-title entry-title" data-split-text="true" data-split-options='{ "type": "lines" }'>Careers with Hunter & Wolf</h1>
								
								</header><!-- /.blog-single-header -->
								
							</div><!-- /.col-md-6 -->
						</div><!-- /.row -->
					</div><!-- /.container -->
					
				</div><!-- /.blog-single-details -->
				
			</div><!-- /.blog-single-cover -->
			
			<article class="blog-single">
				
				<div class="container">
					
					<div class="row">
						
						<div class="col-md-8 col-md-offset-2">
							
							<div class="blog-single-content entry-content pull-up expanded">
								
								<p class="add-dropcap">
									We're always looking to meet new and interesting people for full time or contract positions with Hunter & Wolf. Looking to make a change?
									Or start something new? Check below to see if any of the open positions interest you!
								</p>
								
								<blockquote>
									<h3>“Success is the result of perfection, hard work, learning from failure, loyalty, and persistence”</h3>
									<cite>Colin Powell</cite>
								</blockquote>
								
								<p>We believe in working with those who have the values we know build excellent client experiences and create awesome products. Read on to learn what those virtues are.</p>
								
								
								<div class="fullwidth">
									<figure>
										<img src="./assets/img/career2.jpg" alt="Blog Single">
									</figure>
								</div><!-- /.fullwidth -->

								<h3>Accountability</h3>
								
								<p>By upholding a standard of expectation for ourselves and those we work with, we know we can trust each other and deliver the best for our clients.
									We trust those we work with to own tasks and outcomes by giving the authority to make decisions on the front lines. If you seize opportunities by accepting
									resonsiblities and reaching the best outcomes, we want to work with you.
								</p>
								
								
								<h3>Integrity</h3>

								<p>From company officer to contractors, we promise and practice honesty and transparency. We are and expect dependability from those we work with. By having integrity we want to be the colleagues you want to work with.</p>

								<h3>Perserverance</h3>
								
								<p>Ever debug something for dozens of hours, never letting up until your program compiled? Or powered through a calendar full of meetings, with surprise meetings after? There is no substitute for perserverence and it shows in our work. If you have found yourself where you are today in part because of your perserverence, we want to meet you.</p>
								
								
								<h3>Helpful</h3>
								
								<p>Hunter & Wolf performs software engineering and consulting services. We love helping people. We love solving problems together. We thrive when we offer help, and accept it from teammates. Whether you are an engineer or salesperson, we love to hear how you have helped others in your career.</p>
								
								<h3>Current Opportunities</h3>
								<p>Below is a listing of current openings. Please email us at <a href="mailto:careers@hunter-wolf.com">careers@hunter-wolf.com</a> with our resume and cover letter if you find any interesting.</p>


								<div class="accordion accordion-lg accordion-title-underlined" id="accordion-1" role="tablist">

									<div class="accordion-item panel active">
	
										<div class="accordion-heading" role="tab" id="heading_accordion-collapse-1">
											<h4 class="accordion-title font-size-16 font-weight-semibold">
												<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-collapse-1" aria-expanded="true" aria-controls="accordion-collapse-1">
													Sales Development Representative
												</a>
											</h4>
										</div><!-- /.accordion-heading -->
										<div id="accordion-collapse-1" class="accordion-collapse collapse in" role="tabpanel" aria-labelledby="heading_accordion-collapse-1">
											<div class="accordion-content">
												<p class="font-weight-bold">Responsibilities</p>
												<ul>
													<li>Generate new business opportunities through targeted outbound prospecting and outbound lead development</li>
													<li>Prequalify interested nonprofits via phone, chat and email to determine if they are a good fit for Hunter & Wolf</li>
													<li>Schedule demos, trials and meetings for sales team with qualified prospects</li>
													<li>Demonstrate thorough knowledge of our Company’s product and service offerings, sales procedures, mission, and values</li>
													<li>Remain knowledgeable and up to date on product, industry changes and competitive landscape</li>
												</ul>
												<p class="font-weight-bold">Qualifications</p>
												<ul>
													<li>Interest in pursuing a career in sales</li>
													<li>Enjoys talking with people</li>
													<li>Strong time management skills with ability to work quickly and accurately</li>
												</ul>
												<p class="font-weight-bold">Preferred Qualifications</p>
												<ul>
													<li>Experience with Hubspot</li>
													<li>Experience working in technology B2B sales</li>
												</ul>
											</div><!-- /.accordion-content -->
										</div><!-- /.accordion-collapse -->
										
									</div><!-- /.accordion-item -->
	
									<div class="accordion-item panel">
	
										<div class="accordion-heading" role="tab" id="heading_accordion-collapse-2">
											<h4 class="accordion-title font-size-16 font-weight-semibold">
												<a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-collapse-2" aria-expanded="true" aria-controls="accordion-collapse-2">
													Front End Engineer
												</a>
											</h4>
										</div><!-- /.accordion-heading -->
										<div id="accordion-collapse-2" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="heading_accordion-collapse-2">
											<div class="accordion-content">
												<p class="font-weight-bold">Responsibilities</p>
												<ul>
													<li>Designing, implementing, debugging, and delivering front-end web applications from the requirements stage all the way through to successful real-world deployment.</li>
													<li>Deploy your code to cloud-hosted infrastructure and help to manage the infrastructure that runs your code.</li>
													<li>You will interface with our clients to discuss and refine requirements for the products that you will be building.</li>
												</ul>
												<p class="font-weight-bold">Qualifications</p>
												<ul>
													<li>Bachelor’s degree in Computer Science, Computer Engineering, or equivalent.</li>
													<li>Experience with frameworks like ReactJS and VueJS</li>
													<li>Proficiency in JavaScript, HTML5, SCSS/SASS, CSS</li>
													<li>Knowledge of standard web security practices, such as CORS</li>
													<li>Knowledge of common data structures and algorithms, such as lists, sorting, etc.</li>
												</ul>
												<p class="font-weight-bold">Preferred Qualifications</p>
												<ul>
													<li>Experience with Linux and unix-based OS's</li>
													<li>Experience with AWS, GCP, and/or Azure</li>
												</ul>
											</div><!-- /.accordion-content -->
										</div><!-- /.accordion-collapse -->
	
									</div><!-- /.accordion-item -->
	
								</div><!-- /.accordion -->
	

								<p class="pb-200">If you have any questions about feel free to <a href="/contact">contact us.</a></p>
								
							</div><!-- /.blog-single-content entry-content -->
							
						</div><!-- /.col-md-8 -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
				
				
			</article><!-- /.blog-single -->
			
		</main><!-- /#content.content -->
		{% include footer.html %}
	
	</div><!-- /#wrap -->

	<script src="./assets/vendors/jquery.min.js"></script>
	<script src="./assets/js/theme-vendors.js"></script>
	<script src="./assets/js/theme.min.js"></script>

</body>
</html>