---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#3ed2a7">
	
	<link rel="shortcut icon" href="./favicon.png" />
	
	<title>Services | H&W</title>
	
	<link rel="stylesheet" href="https://use.typekit.net/qxb8htk.css">
	
	<link rel="stylesheet" href="/assets/vendors/liquid-icon/liquid-icon.min.css" />
	<link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/assets/css/theme-vendors.min.css" />
	<link rel="stylesheet" href="/assets/css/theme.min.css" />
	<link rel="stylesheet" href="/assets/css/themes/original.css" />
	
	<!-- Head Libs -->
	<script async src="/assets/vendors/modernizr.min.js"></script>
	
</head>
<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="modern" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">
	
	<div id="wrap">
		
		<div class="titlebar titlebar-sm scheme-light text-center" data-parallax="true" data-parallax-options='{ "parallaxBG": true }' style="background-image: url(/assets/img/meeting3.jpg);">
			
			{% include nav-auto.html %}

			<div class="titlebar-inner">
				<div class="container titlebar-container">
					<div class="row titlebar-container">
						<div class="titlebar-col col-md-12">
							<h1 data-fittext="true" data-fittext-options='{ "maxFontSize": 80, "minFontSize": 32 }'>H&W Services</h1>
							<a class="titlebar-scroll-link" href="#content" data-localscroll="true"><i class="fa fa-angle-down"></i></a>
						</div><!-- /.titlebar-col -->
					</div><!-- /.titlebar-row -->
				</div><!-- /.titlebar-container -->
			</div><!-- /.titlebar-inner -->
			
		</div><!-- /.titlebar -->
	
		<main id="content" class="content pb-150">
			
			<section class="vc_row pt-75 pb-200">
				<div class="container">

					<div class="row d-flex flex-wrap align-items-center">

						<div class="lqd-column col-md-6" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":31,"translateZ":-108,"opacity":0},"animations":{"translateY":0,"translateZ":0,"opacity":1}}'>

							<h2
								class="mt-2 mb-3 font-weight-normal lh-1"
								data-fittext="true"
								data-fittext-options='{ "compressor": 0.6, "maxFontSize": 72, "minFontSize": 48 }'
								data-split-text="true"
								data-split-options='{"type":"lines"}'
							>
								our services
							</h2>
	
							<p class="h3 font-weight-light font-size-30 pr-7 mr-7 mb-40"><i>We love building solutions for complex problems.</i></p>
	
							<p class="pr-7 mr-7 mb-60 font-size-18 lh-175">We help our clients succeed by creating custom solutions, developing engineering teams, and solving hard problems.</p>
	
							<a href="#" class="btn btn-solid text-uppercase btn-md circle btn-bordered border-thin font-size-14 font-weight-bold ltr-sp-025 lh-15 px-1" data-localscroll="true" data-localscroll-options='{"scrollBelowSection":true}'>
								<span>
									<span class="btn-txt">Let's Talk</span>
								</span>
							</a>
	
						</div><!-- /.col-md-6 -->
	
						<div class="lqd-column col-md-5 col-md-offset-1">
	
							<div class="lqd-parallax-images">
	
								<div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-animate-shadow="true">
									<div class="liquid-img-group-img-container">
										<div class="liquid-img-container-inner"
											data-parallax="true"
											data-parallax-from='{"translateY":78}'
											data-parallax-to='{"translateY":-78}'
											data-parallax-options='{"overflowHidden":false,"easing":"linear"}'
										>
											<figure>
												<img src="/assets/img/services1.jpg" alt="Good Design" />
											</figure>
										</div><!-- /.liquid-img-container-inner -->
									</div><!-- /.liquid-img-group-img-container -->
								</div><!-- /.liquid-img-group-single -->
								
								<div class="liquid-img-group-single w-75" data-shadow-style="4" data-inview="true" data-animate-shadow="true">
									<div class="liquid-img-group-img-container">
										<div class="liquid-img-container-inner"
											data-parallax="true"
											data-parallax-from='{"translateY":107}'
											data-parallax-to='{"translateY":-134}'
											data-parallax-options='{"overflowHidden":false,"easing":"linear"}'
										>
											<figure>
												<img src="/assets/img/services2.jpg" alt="Good Design" />
											</figure>
										</div><!-- /.liquid-img-container-inner -->
									</div><!-- /.liquid-img-group-img-container -->
								</div><!-- /.liquid-img-group-single -->
	
							</div><!-- /.lqd-parallax-images -->
	
						</div><!-- /.col-md-5 col-md-offset-1 -->

					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<section class="vc_row pt-80 pb-80">
				<div class="container">
					<div class="row">
	
						<div class="lqd-column col-md-3 col-sm-8">
	
							<div
								class="lqd-parallax"
								data-parallax="true"
								data-parallax-from='{"translateY":100}'
								data-parallax-to='{"translateY":-170}'
								data-parallax-options='{"easing":"linear", "overflowHidden": false}'
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":35,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
							>
	
								<header class="fancy-title">
		
									<h6 class="font-size-12 text-primary font-weight-bold ltr-sp-025">01</h6>
									<h2 class="mb-25">Technology Strategy</h2>
									<p class="mb-45">Our Strategy offers the best-in-class architecture, management structure, and leadership that captures that greatest possible customer experience.</p>
									
								</header><!-- /.fancy-title -->
		
								<ul class="reset-ul font-size-11 lh-15 font-weight-bold ltr-sp-1 text-dark">
									<li class="mb-15">LONG RANGE STRATEGY</li>
									<li class="mb-15">AGILE MANAGEMENT</li>
									<li class="mb-15">ARCHITECTURE</li>
									<li class="mb-15">IT LEADERSHIP</li>
								</ul>
	
							</div><!-- /.lqd-parallax -->
	
	
						</div><!-- /.col-md-3 col-sm-8 -->
	
						<div class="lqd-column col-md-4 col-sm-8 col-md-offset-1">
	
							<div class="row">
								<div class="lqd-column col-md-10 col-md-offset-1">
	
									<div
										class="lqd-parallax"
										data-parallax="true"
										data-parallax-from='{"translateY":100}'
										data-parallax-to='{"translateY":-100}'
										data-parallax-options='{"easing":"linear", "overflowHidden": false}'
										data-custom-animations="true"
										data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":35,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
									>
	
										<header class="fancy-title">
				
											<h6 class="font-size-12 text-primary font-weight-bold ltr-sp-025">02</h6>
											<h2 class="mb-25">Creative Engineering</h2>
											<p class="mb-45">Our uncommon depth and breadth of experience offers a distinguished perspective on how to derive advantages from technology for the benefit of your clients.</p>
											
										</header><!-- /.fancy-title -->
		
										<ul class="reset-ul font-size-11 lh-15 font-weight-bold ltr-sp-1 text-dark">
											<li class="mb-15">CONTINUOUS INTEGRATION</li>
											<li class="mb-15">SOFTWARE DEVELOPMENT</li>
											<li class="mb-15">DIGITAL ASSET MANAGEMENT</li>
											<li class="mb-15">BLOCKCHAIN APPLICATIONS</li>
										</ul>
	
									</div><!-- /.lqd-parallax -->
	
	
								</div><!-- /.col-md-10 col-md-offset-1 -->
							</div><!-- /.row -->
	
						</div><!-- /.col-md-3 col-sm-8 -->
	
						<div class="lqd-column col-md-3 col-sm-8 col-md-offset-1">
	
							<div
								class="lqd-parallax"
								data-parallax="true"
								data-parallax-from='{"translateY":100}'
								data-parallax-to='{"translateY":-29}'
								data-parallax-options='{"easing":"linear", "overflowHidden": false}'
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":35,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
							>
	
								<header class="fancy-title">
		
									<h6 class="font-size-12 text-primary font-weight-bold ltr-sp-025">03</h6>
									<h2 class="mb-25">Ensure Success</h2>
									<p class="mb-45">After release, the effort of maintaining and enhancing software products is critical to ensuring success. We continue iterating through post-release.</p>
									
								</header><!-- /.fancy-title -->
		
								<ul class="reset-ul font-size-11 lh-15 font-weight-bold ltr-sp-1 text-dark">
									<li class="mb-15">CONTINUOUS IMPROVEMENT</li>
									<li class="mb-15">ON-CALL MAINTENANCE</li>
									<li class="mb-15">FEEDBACK COLLECTION</li>
									<li class="mb-15">MONITORING SERVICES</li>
								</ul>
	
							</div><!-- /.lqd-parallax -->
	
	
						</div><!-- /.col-md-3 col-sm-8 -->
	
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
		</main><!-- /#content.content -->
		{% include footer.html %}
		
	</div><!-- /#wrap -->

	<script src="/assets/vendors/jquery.min.js"></script>
	<script src="/assets/js/theme-vendors.js"></script>
	<script src="/assets/js/theme.min.js"></script>
	<script src="/assets/js/liquidAjaxMailchimp.min.js"></script>

</body>
</html>