<nav class="nav-centered">
    <div class="nav-utility">
        <div class="module left">
            <i class="ti-location-arrow">&nbsp;</i>
            <span class="sub">Sioux Falls, South Dakota</span>
        </div>
        <div class="module left">
            <i class="ti-email">&nbsp;</i>
            <span class="sub">hello@hunter-wolf.com</span>
        </div>
        <div class="module right">
            <a class="btn btn-sm hidden-xs hidden-sm hidden-md" href="/contact">Talk to Us</a>
            <a class="btn btn-sm btn-filled" href="/get-started">Start Now</a>
        </div>
    </div>
    <div class="text-center">
        <a id="header-link-name" href="/">
            <p style="margin-top:4em;">
                <span style="font-family: 'Catamaran'; font-size:2em;">HUNTER &amp; WOLF</span>
            </p>
        </a>
    </div>
    <div class="nav-bar text-center">
        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
            <i class="ti-menu"></i>
        </div>
        <div class="module-group text-left">
            <div class="module left">
                <ul class="menu">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li class="has-dropdown">
                            <a href="/#">Services</a>
                        <ul>
                            <li>
                                <a href="/services/advanced-programming">Programming</a>
                            </li>
                            <li>
                                <a href="/services/api-integrations">API Integrations</a>
                            </li>
                            <li>
                                <a href="/services/continuous-delivery">Continuous Delivery</a>
                            </li>
                        </ul>
                        <!-- <ul class="mega-menu">
                            <li>
                                <ul>
                                    <li>
                                        <span class="title">Technology</span>
                                    </li>
                                    <li>
                                        <a href="/services/advanced-programming">Programming</a>
                                    </li>
                                    <li>
                                        <a href="/services/api-integrations">API Integrations</a>
                                    </li>
                                    <li>
                                        <a href="/services/continuous-delivery">CI/CI</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <span class="title">Business</span>
                                    </li>
                                    <li>
                                        <a href="/services/organization">Organizational Consulting</a>
                                    </li>
                                    <li>
                                        <a href="/services/product">Product Development</a>
                                    </li>
                                    <li>
                                        <a href="/services/pm">Agile Project Management</a>
                                    </li>
                                </ul>
                            </li>
                        </ul> -->
                    </li>
                    <li class="has-dropdown">
                        <a href="/cases">
                            Case Studies
                        </a>
                        <ul>
                            <li>
                                <a href="/cases/oddshot">
                                    Oddshot
                                </a>
                            </li>

                            <li>
                                <a href="/cases/inbound">
                                    InboundFit
                                </a>
                            </li>
                            <li>
                                <a href="/cases/nexchannel">
                                    Nexchannel
                                </a>
                            </li>
                            <li>
                                <a href="/cases/pledge">
                                    Pledge
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/blog">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="/get-started">
                            Get Started
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <!--end of menu module-->
        </div>
        <!--end of module group-->
    </div>
</nav>