---
title: ci
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hunter & Wolf Advanced Programming</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include css.html %}
    </head>
    <body class="scroll-assist">
        <div class="nav-container">
            <a id="top"></a>
            {% include mainnav.html %}
        </div>
        <div class="main-container">
            <section class="page-title page-title-4 image-bg overlay parallax">
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="/img/cover11.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">Continuous Delivery</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li class="active">Continuous Delivery</li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature-1 boxed">
                                <div class="text-center">
                                    <i class="ti-files icon"></i>
                                    <h4>Reduce risk and make builds repeatable,
                                        <br class="hidden-sm" /> customers enjoy higher quality product.</h4>
                                </div>
                                <p>
                                    By connecting multiple services and tools together to build a code pipeline, your organization will enjoy high quality end products.
                                    Developers enjoy greater productivity (and much less worry!) with the right automated testing and CI/CD system to rely on.
                                </p>
                            </div>
                            <!--end of feature-->
                        </div>
                        <div class="col-sm-6">
                            <div class="feature feature-1 boxed">
                                <div class="text-center">
                                    <i class="ti-reload icon"></i>
                                    <h4>Experienced and on the leading edge
                                        <br class="hidden-sm" /> of Continuous Delivery tooling.</h4>
                                </div>
                                <p>
                                    Hunter & Wolf works with a number of test frameworks and test methodologies to catch errors before they reach customers. From unit tests
                                    to end-to-end web browser testing and the latest evolutions in Continuous Delivery such as Pipeline-as-Code, we have it covered.
                                </p>
                            </div>
                            <!--end of feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="pt64 pb64">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="mb8">Create something beautiful.</h2>
                            <p class="lead mb40">
                                If you love powerful, expressive code running your product, let's get started!
                            </p>
                            <a class="btn btn-filled btn-lg mb0" href="/get-started">Get Started</a>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="embelish-icons">
                        <i class="ti-marker"></i>
                        <i class="ti-layout"></i>
                        <i class="ti-ruler-alt-2"></i>
                        <i class="ti-eye"></i>
                        <i class="ti-signal"></i>
                        <i class="ti-pulse"></i>
                        <i class="ti-marker"></i>
                        <i class="ti-layout"></i>
                        <i class="ti-ruler-alt-2"></i>
                        <i class="ti-eye"></i>
                        <i class="ti-signal"></i>
                        <i class="ti-pulse"></i>
                    </div>
                </div>
                <!--end of container-->
            </section>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="sub text-center">&copy; Copyright 2017 - Hunter & Wolf, L.L.C.</p>
            </div>
            <div class="col-sm-6 text-right">
                <!--
                    <ul class="list-inline social-list">
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-vimeo-alt"></i>
                            </a>
                        </li>
                    </ul>
                    -->
            </div>
        </div>
        {% include mainjs.html %}
    </body>
</html>