---
title: oddshot
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hunter & Wolf | Cases | InboundFit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    {% include css.html %}
</head>
<body class="scroll-assist">
<div class="nav-container">
    <a id="top"></a>
    {% include mainnav.html %}
</div>
<div class="main-container">
    <section class="page-title page-title-4 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="uppercase mb0">InboundFit</h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/cases">cases</a>
                        </li>
                        <li class="active">inboundfit</li>
                    </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-dark pt0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <hr class="mb48 mb-xs-32">
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">Brief</h5>
                    <p class="mb0">
                        InboundFit is an inbound marketing company focused on the fitness club industry. We consulted on
                        WordPress development to keep client sites up and running smoothly and to integrate tech from gym
                        members into their sites. Additionally, we provided API integration automation to get multiple
                        CRM systems talking to each other.
                    </p>
                </div>
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">Process</h5>
                    <p class="mb0">
                        Our experience with the WordPress API is extensive, so we offer advice on fixing broken plugins,
                        developing new plugins, and customizing themes. For API automation, we offer high performance
                        integrations between services to keep marketing, sales, lead, and member data synchronized.
                    </p>
                </div>
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">Result</h5>
                    <p class="mb0">
                        Clients benefit from correct operations of websites and technology and synchronized contact information.
                        Additionally, cost savings for API automation are a substantial and immediate return on income.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row mb64 mb-xs-24">
                <div class="col-sm-12">
                    <div class="image-slider slider-all-controls controls-inside">
                        <ul class="slides">
                            <li>
                                <img alt="Image" src="/img/inboundfit.jpg" />
                            </li>
                        </ul>
                    </div>
                    <!--end of image slider-->
                </div>
            </div>
            <!--end of row
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h6 class="uppercase">Share The Love</h6>
                    <ul class="social-list list-inline">
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt icon icon-sm"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-facebook icon icon-sm"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-dribbble icon icon-sm"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <div class="row">
        <div class="col-sm-12">
            <p class="sub text-center">&copy; Copyright 2017 - Hunter & Wolf, L.L.C.</p>
        </div>
        <div class="col-sm-6 text-right">
            <!--
                <ul class="list-inline social-list">
                    <li>
                        <a href="#">
                            <i class="ti-twitter-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-vimeo-alt"></i>
                        </a>
                    </li>
                </ul>
                -->
        </div>
    </div>
</div>
{% include mainjs.html %}
</body>
</html>