---
title: inbound
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hunter & Wolf | Cases | InboundFit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% include css.html %}
    </head>
    <body class="scroll-assist">
        <div class="nav-container">
            <a id="top"></a>
            {% include mainnav.html %}
        </div>
        <div class="main-container">
            <section class="page-title page-title-4 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">InboundFit</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/cases">cases</a>
                                </li>
                                <li class="active">inbound</li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg-dark pt0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <hr class="mb48 mb-xs-32">
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-4 mb-xs-24">
                            <h5 class="uppercase">Brief</h5>
                            <p class="mb0">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                            </p>
                        </div>
                        <div class="col-sm-4 mb-xs-24">
                            <h5 class="uppercase">Process</h5>
                            <p class="mb0">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                            </p>
                        </div>
                        <div class="col-sm-4 mb-xs-24">
                            <h5 class="uppercase">Result</h5>
                            <p class="mb0">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row mb64 mb-xs-24">
                        <div class="col-sm-12">
                            <div class="image-slider slider-all-controls controls-inside">
                                <ul class="slides">
                                    <li>
                                        <img alt="Image" src="img/project-case-study-1.jpg" />
                                    </li>
                                    <li>
                                        <img alt="Image" src="img/project-case-study-4.jpg" />
                                    </li>
                                    <li>
                                        <img alt="Image" src="img/project-case-study-1.jpg" />
                                    </li>
                                </ul>
                            </div>
                            <!--end of image slider-->
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h6 class="uppercase">Share The Love</h6>
                            <ul class="social-list list-inline">
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt icon icon-sm"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook icon icon-sm"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-dribbble icon icon-sm"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="footer-1 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <img alt="Logo" class="logo" src="img/logo-light.png" />
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Recent Posts</h6>
                                <hr>
                                <ul class="link-list recent-posts">
                                    <li>
                                        <a href="#">Hugging pugs is super trendy</a>
                                        <span class="date">February
                                            <span class="number">14, 2015</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#">Spinning vinyl is oh so cool</a>
                                        <span class="date">February
                                            <span class="number">9, 2015</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#">Superior theme design by pros</a>
                                        <span class="date">January
                                            <span class="number">27, 2015</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Latest Updates</h6>
                                <hr>
                                <div class="twitter-feed">
                                    <div class="tweets-feed" data-feed-name="mrareweb">
                                    </div>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Instagram</h6>
                                <hr>
                                <div class="instafeed" data-user-name="mrareweb">
                                    <ul></ul>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="sub">&copy; Copyright 2016 - Medium Rare</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <ul class="list-inline social-list">
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-vimeo-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end of container-->
                <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
            </footer>
        </div>
        {% include mainjs.html %}
    </body>
</html>