---
title: cases
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hunter & Wolf Case Studies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include css.html %}
</head>
<body class="scroll-assist">
<div class="nav-container">
    <a id="top"></a>
    {% include mainnav.html %}
</div>
<div class="main-container">
    <section class="page-title page-title-4 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="uppercase mb0">Selected Case Studies</h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/cases">cases</a>
                        </li>
                    </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-dark pt0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <hr class="mb48 mb-xs-32">
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">Factor</h5>
                    <p class="mb0">
                        The common factor across all our projects is our dedication to solving difficult business problems.
                        We love a challenge. Our tool selection reflects experience and advanced problem solving.
                    </p>
                </div>
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">Not Just Tech</h5>
                    <p class="mb0">
                        Our cases represent partnerships in technology as well as in management and product development. By
                        creating a cross functional, iterative approach to building products we help companies realize
                        uncommon advantages and opportunities.
                    </p>
                </div>
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">The Freshest</h5>
                    <p class="mb0">
                        We use the best and latest methods of development. The industry trends toward backward compatibility, security, and scale.
                        Staying with the latest methods in building applications is critical to reducing long term risk.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <div class="row">
        <div class="col-sm-12">
            <p class="sub text-center">&copy; Copyright 2017 - Hunter & Wolf, L.L.C.</p>
        </div>
        <div class="col-sm-6 text-right">
            <!--
                <ul class="list-inline social-list">
                    <li>
                        <a href="#">
                            <i class="ti-twitter-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-vimeo-alt"></i>
                        </a>
                    </li>
                </ul>
                -->
        </div>
    </div>
</div>
{% include mainjs.html %}
</body>
</html>
