---
title: oddshot
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hunter & Wolf | Cases | Nexchannel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    {% include css.html %}
</head>
<body class="scroll-assist">
<div class="nav-container">
    <a id="top"></a>
    {% include mainnav.html %}
</div>
<div class="main-container">
    <section class="page-title page-title-4 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="uppercase mb0">Nexchannel (In Beta)</h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/cases">cases</a>
                        </li>
                        <li class="active">nexchannel</li>
                    </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-dark pt0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <hr class="mb48 mb-xs-32">
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">Brief</h5>
                    <p class="mb0">
                        Nexchannel is an ambitious project to improve the way people enjoy video content online.
                    </p>
                </div>
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">Process</h5>
                    <p class="mb0">
                        We joined Nexchannel early in the process and helped build and form a strong team. We developed
                        the architecture needed to capture and transcode an asset-heavy product. We then provided
                        extensive API development to include file uploads, transcoding, and scheduling. Performance and
                        high speed were critical to this product--which demanded solutions from theoretical computer science to achieve.
                        Extensive use of immutable deployment, continuous delivery, and Amazon Web Services were involved.
                    </p>
                </div>
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">Result</h5>
                    <p class="mb0">
                        Nexchannel is presently in beta testing. We look forward to seeing how the market takes to this product.
                        Our services provide a high performance and high scale basis.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row mb64 mb-xs-24">
                <div class="col-sm-12">
                    <div class="image-slider slider-all-controls controls-inside">
                        <ul class="slides">
                            <li>
                                <img alt="Image" src="/img/beta.jpg" />
                            </li>
                        </ul>
                    </div>
                    <!--end of image slider-->
                </div>
            </div>
            <!--end of row
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h6 class="uppercase">Share The Love</h6>
                    <ul class="social-list list-inline">
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt icon icon-sm"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-facebook icon icon-sm"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-dribbble icon icon-sm"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <div class="row">
        <div class="col-sm-12">
            <p class="sub text-center">&copy; Copyright 2017 - Hunter & Wolf, L.L.C.</p>
        </div>
        <div class="col-sm-6 text-right">
            <!--
                <ul class="list-inline social-list">
                    <li>
                        <a href="#">
                            <i class="ti-twitter-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-vimeo-alt"></i>
                        </a>
                    </li>
                </ul>
                -->
        </div>
    </div>
</div>
{% include mainjs.html %}
</body>
</html>