---
title: oddshot
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hunter & Wolf | Cases | Pledge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    {% include css.html %}
</head>
<body class="scroll-assist">
<div class="nav-container">
    <a id="top"></a>
    {% include mainnav.html %}
</div>
<div class="main-container">
    <section class="page-title page-title-4 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="uppercase mb0">Pledge (In Beta)</h3>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/cases">cases</a>
                        </li>
                        <li class="active">pledge</li>
                    </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-dark pt0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <hr class="mb48 mb-xs-32">
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">Brief</h5>
                    <p class="mb0">
                        We were asked to build a mobile app using React Native and a NodeJS back end. Pledge is presently
                        in beta testing and will be publicly released later this year. Data analysis and storage are critical factors.
                    </p>
                </div>
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">Process</h5>
                    <p class="mb0">
                        We provided architectural plans and development for the mobile app. The app is a React Native implementation
                        targeting Android and iOS. The business critical portions of this app include ACID compliant data storage,
                        data backups, data analysis, and geographic analysis. Additionally, we set up a continuous delivery pipeline
                        for end users and optimized the React Native build process.
                    </p>
                </div>
                <div class="col-sm-4 mb-xs-24">
                    <h5 class="uppercase">Result</h5>
                    <p class="mb0">
                        Pledge is in beta testing and we look forward to seeing it take flight on mobile devices. We are proud of our work
                        in geographic analysis and continuous delivery, as well as high scale architecture.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row mb64 mb-xs-24">
                <div class="col-sm-12">
                    <div class="image-slider slider-all-controls controls-inside">
                        <ul class="slides">
                            <li>
                                <img alt="Image" src="/img/betamobile.jpg" />
                            </li>
                        </ul>
                    </div>
                    <!--end of image slider-->
                </div>
            </div>
            <!--end of row
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h6 class="uppercase">Share The Love</h6>
                    <ul class="social-list list-inline">
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt icon icon-sm"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-facebook icon icon-sm"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-dribbble icon icon-sm"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <div class="row">
        <div class="col-sm-12">
            <p class="sub text-center">&copy; Copyright 2017 - Hunter & Wolf, L.L.C.</p>
        </div>
        <div class="col-sm-6 text-right">
            <!--
                <ul class="list-inline social-list">
                    <li>
                        <a href="#">
                            <i class="ti-twitter-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ti-vimeo-alt"></i>
                        </a>
                    </li>
                </ul>
                -->
        </div>
    </div>
</div>
{% include mainjs.html %}
</body>
</html>